.top-playlist-bg{
    height: 100%;
    background: rgba(0, 0, 0, 0.76);
}
.playlist-top-img{
    width: 220px;
    border-radius: 15%;
}

.pl-song-box {
    display: flex;
    padding:1.5%;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
    transition: 300ms;
}
.pl-song-box:hover {
    background-color: #2E2E2E;
    padding: 1.8% 1.6%;
    margin: 0 5px;
}
.song-num{
    text-align: right;
    width: 30px;
    margin-right: 10px;
}

.songs-art {
    height: 60px;
    border-radius: 2px;
  }
.song-back{
    margin-top: -60px;
    width: 60px;
    height: 60px;
    border-radius: 2%;
    background-color: #12110c99;
    backdrop-filter: blur(1px);
    position: static;
    align-items: center;
    justify-content: center;
    opacity: 0;
    display: flex;
    transition: opacity .30s;
  }
  .song-back > *{
    transition: transform .30s;
  }
  .song-back:hover{
    opacity: 1;
  }

  .about-pl{
    margin: 45px 45px 0px 45px;      
    color: white;
  }